<div class="container-fluid p-0">
    <div class="ms-4">
        <h1 class="title2">Esta é a nossa jornada de aprendizado!</h1>
    </div>
    <div class="row ms-2 overflow-x-auto flex-nowrap">
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card bg-light text-black mb-4">
                <div class="card-body mb-5">
                    <img src="../../assets/images/Rectangle 37 (3).svg" class="card-img-top" alt="Imagem 1">
                    <p class="card-text">Plano &bull; Mapeando seu potencial</p>
                    <div class="card-title">Habilidades nos conectam.</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card bg-light text-black mb-4">
                <div class="card-body mb-5">
                    <img src="../../assets/images/Rectangle 38 (1).svg" class="card-img-top" alt="Imagem 1">
                    <p class="card-text">Plano &bull; Sua plataforma de linguagens</p>
                    <div class="card-title">Linguagens nos conectam.</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card bg-light text-black mb-4">
                <div class="card-body mb-5">
                    <img src="../../assets/images/Rectangle 38 (1).svg" class="card-img-top" alt="Imagem 1">
                    <p class="card-text">Plano &bull; Sua plataforma de linguagens</p>
                    <div class="card-title">Linguagens nos conectam.</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card bg-light text-black mb-4">
                <div class="card-body mb-5">
                    <img src="../../assets/images/Rectangle 38 (1).svg" class="card-img-top" alt="Imagem 1">
                    <p class="card-text">Plano &bull; Sua plataforma de linguagens</p>
                    <div class="card-title">Linguagens nos conectam.</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>