<div class="container-fluid p-0">
    <div class="row ms-2 overflow-x-auto flex-nowrap">
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card bg-light text-black mb-4">
                <div class="card-body mb-4">
                    <img src="../../assets/../../assets/images/imagem-IA 2.svg" class="card-img-top" alt="Imagem 1">
                    <p class="card-text">Plano</p>
                    <div class="card-title">Futuro da iArcLabs em um mundo impulsionado pela IA.</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn">
                        <img class="icon-image" src="../../assets/../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn">
                        <img class="icon-image" src="../../assets/../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card bg-light text-black mb-4">
                <div class="card-body mb-5">
                    <img src="../../assets/../../assets/images/imagem-IA 2.svg" class="card-img-top" alt="Imagem 1">
                    <p class="card-text">Plano</p>
                    <div class="card-title">IA ESPAÇ0: demonstraçōes & conversas.</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn">
                        <img class="icon-image" src="../../assets/../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn">
                        <img class="icon-image" src="../../assets/../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card bg-light text-black mb-4">
                <div class="card-body mb-5">
                    <img src="../../assets/../../assets/images/imagem-IA 2.svg" class="card-img-top" alt="Imagem 1">
                    <p class="card-text">Plano</p>
                    <div class="card-title">IA ESPAÇ0: demonstraçōes & conversas.</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn">
                        <img class="icon-image" src="../../assets/../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn">
                        <img class="icon-image" src="../../assets/../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card bg-light text-black mb-4">
                <div class="card-body mb-5">
                    <img src="../../assets/../../assets/images/imagem-IA 2.svg" class="card-img-top" alt="Imagem 1">
                    <p class="card-text">Plano</p>
                    <div class="card-title">IA ESPAÇ0: demonstraçōes & conversas.</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn">
                        <img class="icon-image" src="../../assets/../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn">
                        <img class="icon-image" src="../../assets/../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>