.example-container {
  margin-left: 0; 
}

.texts-titles-form {
  font-weight: 600;
  margin-left: 10px;
}

.wide-input {
  width: 550px;
}

ng-template {
  margin-bottom: 40px;
}

mat-select {
  width: 100%; 
}


mat-select {
  width: 100%; 
}

.login-button {
  margin-top: 20px;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-content {
  display: flex;
}

.right-content {
  display: flex;
  margin-left: auto;
}

.section-spacing {
  height: 24px; /* Ajuste conforme necessário */
}