<!-- card-title-courses.component.html -->

<mat-card class="card-title">
    <mat-card-header>
      <mat-card-title>Introdução à <br>programação de <br>computadores</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex flex-wrap">
      <!-- Conteúdo do primeiro card -->
  
      <!-- Início do segundo card dentro do primeiro -->
      <mat-card class="card-image">
        <mat-card-content style="height: 300px;">
          <!-- Conteúdo do segundo card -->
          <img src="caminho-para-sua-imagem" alt="Imagem">
        </mat-card-content>
      </mat-card>
      <!-- Fim do segundo card dentro do primeiro -->
  
    </mat-card-content>
  </mat-card>
  