$page-color: #050720; // Cor personalizada

mat-card-title,
mat-card-subtitle {
  text-align: center;
  margin-bottom: 10px;
}

.blue-text-register {
  color: #0089CC;
  text-decoration: none;
}

.blue-text-register:hover {
  text-decoration: underline;
}

.login-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
  background-color: $page-color;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px; 
  height: 570px;
  margin: auto; 
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 250px;
  margin-top: 20px;
}
body {
  background-color: $page-color;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #0389cd;
}