<div class="container-fluid p-0">
    <div class="row ms-2 me-2">
        <h1 class="title2">Chegando agora por aqui?</h1>
        <p class="fs-6 mt-3 subtitle">Quer entender tudo sobre a iArcLabs, dê uma olhada nestas trilhas que vão te
            explicar o que precisa saber sobre o universo iArcLabs </p>
    </div>
    <!-- Card 1 -->
    <div class=" row ms-2 me-2 overflow-x-auto flex-nowrap">
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img src="../../assets/images/Rectangle 29.svg" class="card-img-top img-size"
                        alt="Imagem do Card 1">
                </div>
                <div class="card-body">
                    <p class="card-text">Plano &bull; Mapeando seu potencial</p>
                    <div class="card-title">NĀO ENTRE EM PANICO! e bem vindo a IArcLabs</div>
                </div>

                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>

            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img src="../../assets/images/Rectangle 30.svg" class="card-img-top img-size"
                        alt="Imagem do Card 2">
                </div>
                <div class="card-body mb-4">
                    <p class="card-text mb-3">Plano &bull; Sua plataforma de linguagens</p>
                    <div class="card-title">Bem vindo a iArcLabs Educação</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img src="../../assets/images/Rectangle 45.svg" class="card-img-top img-size"
                        alt="Imagem do Card 3">
                </div>
                <div class="card-body mb-4">
                    <p class="card-text mb-3"> Plano &bull; Mapeando seu potencial</p>
                    <div class="card-title">Bem vindo a Linguagens</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img src="../../assets/images/Rectangle 46.svg" class="card-img-top img-size"
                        alt="Imagem do Card 4">
                </div>
                <div class="card-body mb-4">
                    <p class="card-text mb-3">Plano &bull; Sua plataforma de linguagens</p>
                    <div class="card-title">Bem vindo ao Degreed!</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img src="../../assets/images/Rectangle 46.svg" class="card-img-top img-size"
                        alt="Imagem do Card 4">
                </div>
                <div class="card-body mb-4">
                    <p class="card-text mb-3">Plano &bull; Sua plataforma de linguagens</p>
                    <div class="card-title">Bem vindo ao Degreed!</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
        <!-- Card 6 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img src="../../assets/images/Rectangle 46.svg" class="card-img-top img-size"
                        alt="Imagem do Card 4">
                </div>
                <div class="card-body mb-4">
                    <p class="card-text mb-3">Plano &bull; Sua plataforma de linguagens</p>
                    <div class="card-title">Bem vindo ao Degreed!</div>
                </div>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/43869 1.svg" alt="Compartilhar">
                    </button>
                    <button class="btn btn-secondary custom-btn-size">
                        <img class="icon-image" src="../../assets/images/3832624 1.svg" alt="Adicionar">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>